/* CSS Demo Stylesheet */

/* colors:#E5E6E8 #83B0D0 #F3EAE3 #C4E5F8 #82878D */

/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* -------------- Utility Classes ------------------- */

.container {
    width: 70vw;
    margin: 40px auto;
}

/* ---------- responsive images ---------- */

img {
    max-height: 100%;
    height: auto;
}

/* ---------------Global Styles----------------- */

body {
    background-color: #F3EAE3;
    font-family: 'IM Fell English', serif;
    margin: 0;
}

header.primary {
    background-color: #83B0D0;
    text-align: center;
    color: #ffffff;

    /* long form */
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;

    /* T,R,B,L */
    padding: 20px 15px 20px 15px;

    /* Top/Bottom Right/Left */
    padding: 20px 15px;


}

header.primary h1 {
    font-size: 3.2rem;
    margin: 20px 0;
    text-shadow: 5px 4px #000000;
}

header.primary h1 a {
    color: #ffffff;
    text-decoration: none;
}

header.primary h2 {
    font-size: 1.4em;
    /* top left/right bottom */
    margin: 20px auto 40px;
}

header.primary nav {
    width: 60vw;
    margin: auto;
    max-width: 900px;
}

header.primary nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header.primary nav li {
    list-style-type: none;
}

header.primary nav a {
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
    background-color: rgba(0, 0, 0, .4);
    padding: 8px 14px;
    border-radius: 22px 7px;
    transition: .5s;

}

header nav a:hover,
header nav a:active {
    background-color: rgba(0, 0, 0, .8);
}



/* Media Query Example */

@media screen and (max-width:800px) {
    header.primary nav ul {
        flex-direction: column;
        max-width: 70vw;
        margin: auto;
    }

    header.primary nav a {
        display: block;
    }
    header.primary nav li {
        margin-bottom: 10px;
    }
}

#intro h2 {
    color: #82878D;
    border-bottom: 1px dotted #C4E5F8;
}

#intro p {
    line-height: 1.8rem;
}

#intro {
    border-bottom: 1px dotted #C4E5F8;
    padding-bottom: 5px;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#content article.post {
    width: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .6);
    padding: 10px;
    border-radius: 8px;
    font-size: .7rem;
    transition: .5s;
}

#content article.post:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, .4);
}

#content .post figure {
    margin: 0;
}

time .post-date,
figcaption,
.post-meta {
    text-transform: uppercase;
    color: #000000;
}
