/* CSS Demo Stylesheet */

/* colors:#A5D6EB #1C479E #2C9930 #EBB63D #A37408 */

/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* -------------- Utility Classes ------------------- */

.container {
    width: 70vw;
    margin: 40px auto;
}

.img-right {
    float: right;
    border: 1px solid #c0c0c0;
    padding: 5px;
    margin-left: 20px;
}

.img-left {
    float: left;
    border: 1px solid #c0c0c0;
    padding: 5px;
    margin-right: 20px;
}

.img-center {
    display: block;
    margin: 20px auto;
    border: 1px solid #c0c0c0;
    padding: 5px;
}

/* ---------- responsive images ---------- */

img {
    max-width: 100%;
    height: auto;
}

/* ---------------Global Styles----------------- */

body {
    background-color: #A5D6EB;
    font-family: 'IM Fell English', serif;
    margin: 0;
}

header.primary {
    background-color: #1C479E;
    text-align: center;
    color: #ffffff;

    /* long form */
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;

    /* T,R,B,L */
    padding: 20px 15px 20px 15px;

    /* Top/Bottom Right/Left */
    padding: 20px 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.28'%3E%3Cpath d='M84 23c-4.417 0-8-3.584-8-7.998V8h-7.002C64.58 8 61 4.42 61 0H23c0 4.417-3.584 8-7.998 8H8v7.002C8 19.42 4.42 23 0 23v38c4.417 0 8 3.584 8 7.998V76h7.002C19.42 76 23 79.58 23 84h38c0-4.417 3.584-8 7.998-8H76v-7.002C76 64.58 79.58 61 84 61V23zM59.05 83H43V66.95c5.054-.5 9-4.764 9-9.948V52h5.002c5.18 0 9.446-3.947 9.95-9H83v16.05c-5.054.5-9 4.764-9 9.948V74h-5.002c-5.18 0-9.446 3.947-9.95 9zm-34.1 0H41V66.95c-5.053-.502-9-4.768-9-9.948V52h-5.002c-5.184 0-9.447-3.946-9.95-9H1v16.05c5.053.502 9 4.768 9 9.948V74h5.002c5.184 0 9.447 3.946 9.95 9zm0-82H41v16.05c-5.054.5-9 4.764-9 9.948V32h-5.002c-5.18 0-9.446 3.947-9.95 9H1V24.95c5.054-.5 9-4.764 9-9.948V10h5.002c5.18 0 9.446-3.947 9.95-9zm34.1 0H43v16.05c5.053.502 9 4.768 9 9.948V32h5.002c5.184 0 9.447 3.946 9.95 9H83V24.95c-5.053-.502-9-4.768-9-9.948V10h-5.002c-5.184 0-9.447-3.946-9.95-9zM50 50v7.002C50 61.42 46.42 65 42 65c-4.417 0-8-3.584-8-7.998V50h-7.002C22.58 50 19 46.42 19 42c0-4.417 3.584-8 7.998-8H34v-7.002C34 22.58 37.58 19 42 19c4.417 0 8 3.584 8 7.998V34h7.002C61.42 34 65 37.58 65 42c0 4.417-3.584 8-7.998 8H50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

header.primary h1 {
    font-size: 3.2rem;
    margin: 20px 0;
    text-shadow: 5px 4px #000000;
}

header.primary h1 a {
    color: #ffffff;
    text-decoration: none;
}

header.primary h2 {
    font-size: 1.4em;
    /* top left/right bottom */
    margin: 20px auto 40px;
}

header.primary nav {
    width: 60vw;
    margin: auto;
    max-width: 900px;
}

header.primary nav ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header.primary nav li {
    list-style-type: none;
}

header.primary nav a {
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
    background-color: rgba(0, 0, 0, .4);
    padding: 8px 14px;
    border-radius: 22px 7px;
    transition: .6s;

}

header nav a:hover,
header nav a:active {
    background-color: rgba(44, 153, 48, .55);
}



/* Media Query Example */

@media screen and (max-width:800px) {
    header.primary nav ul {
        flex-direction: column;
        max-width: 70vw;
        margin: auto;
    }

    header.primary nav a {
        display: block;
    }
    header.primary nav li {
        margin-bottom: 10px;
    }
}

#intro h2 {
    color: #A37408;
    border-bottom: 1px dotted #EBB63D;
}

#intro p {
    line-height: 1.8rem;
}

#intro {
    border-bottom: 1px dotted #EBB63D;
    padding-bottom: 5px;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px dotted #EBB63D;
    padding-bottom: 2.8rem;
}

#content article.post {
    width: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .6);
    padding: 10px;
    border-radius: 8px;
    font-size: .7rem;
    transition: .5s;
}

#content article.post:hover {
    box-shadow: 0px 8px 16px rgba(235, 182, 61, .65);
}

#content .post figure {
    margin: 0;
}

time .post-date,
figcaption,
.post-meta {
    text-transform: uppercase;
    color: #000000;
}

.post a {
    color: #2C9930;
}

.post a:hover,
.post a:active {
    text-decoration: none;
}

/* Attribute Selectors */

#additional-elements {
    line-height: 1.5;
}

#additional-elements a,
#additional-elements a:visited {
    color: #2C9930;
}

#additional-elements a:hover {
    text-decoration: none;
}

#additional-elements h2 {
    color: #A37408;
}

#additional-elements h3 {
    border-left: 8px solid #1C479E;
    padding-left: 10px;
}

#additional-elements ol {
    list-style-type: upper-roman;
    list-style-position: outside;
}

#additional-elements ul {
    list-style-type: square;
}

#additional-elements ul ul {
    list-style-type: disc;
}

#additional-elements dl {}

#additional-elements dt {
    font-weight: bold;
    margin-top: 1.5em;
}

#additional-elements dd {
    margin-left: 0;
}

dd+dt {
    margin-top: 1.1rem;
}

#additional-elements blockquote {
    background-color: rgba(235, 182, 61, .4);
    padding: 40px 60px;
    border: 5px double #1C479E;
    border-radius: 15px;
    font-size: 1.2rem;
}

#additional-elements cite {
    display: block;
    font-size: .6rem;
    text-align: right;
    font-weight: bold;
    margin-top: 1.1rem;
}

table {
    width: 100%;
    border: 1px solid #A37408;
    margin-bottom: 40px;
    color: #EBB63D;
    text-shadow: .65px .9px #000000;
}

table tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, .1)
}

table tr:hover {
    background-color: rgba(0, 0, 0, .25);
}

table th {
    background: #1C479E;
    color: #EBB63D;
    width: 33%;
    padding: 10px;
}

table td {
    border: 1px solid #1C479E;
    padding: 5px;
    text-align: center;
}

table caption {
    color: #EBB63D;
    padding: 10px;
    font-weight: bold;
    font-size: 1.4rem;
    text-shadow: 1px 1.2px #000000;
}


/* ----------Example of atribute selector---------- */

aside[role="complementary"] {
    background-color: #1C479E;
    color: #A37408;
    padding: 1.8rem;
}

aside div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article.widget {
    width: 46%;
}

article.widget a {
    color: #A37408;
    display: block;
    margin-top: 2rem;
}

article.widget footer {
    display: none;
}

#colophon {
    background-color: #EBB63D;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.28'%3E%3Cpath d='M84 23c-4.417 0-8-3.584-8-7.998V8h-7.002C64.58 8 61 4.42 61 0H23c0 4.417-3.584 8-7.998 8H8v7.002C8 19.42 4.42 23 0 23v38c4.417 0 8 3.584 8 7.998V76h7.002C19.42 76 23 79.58 23 84h38c0-4.417 3.584-8 7.998-8H76v-7.002C76 64.58 79.58 61 84 61V23zM59.05 83H43V66.95c5.054-.5 9-4.764 9-9.948V52h5.002c5.18 0 9.446-3.947 9.95-9H83v16.05c-5.054.5-9 4.764-9 9.948V74h-5.002c-5.18 0-9.446 3.947-9.95 9zm-34.1 0H41V66.95c-5.053-.502-9-4.768-9-9.948V52h-5.002c-5.184 0-9.447-3.946-9.95-9H1v16.05c5.053.502 9 4.768 9 9.948V74h5.002c5.184 0 9.447 3.946 9.95 9zm0-82H41v16.05c-5.054.5-9 4.764-9 9.948V32h-5.002c-5.18 0-9.446 3.947-9.95 9H1V24.95c5.054-.5 9-4.764 9-9.948V10h5.002c5.18 0 9.446-3.947 9.95-9zm34.1 0H43v16.05c5.053.502 9 4.768 9 9.948V32h5.002c5.184 0 9.447 3.946 9.95 9H83V24.95c-5.053-.502-9-4.768-9-9.948V10h-5.002c-5.184 0-9.447-3.946-9.95-9zM50 50v7.002C50 61.42 46.42 65 42 65c-4.417 0-8-3.584-8-7.998V50h-7.002C22.58 50 19 46.42 19 42c0-4.417 3.584-8 7.998-8H34v-7.002C34 22.58 37.58 19 42 19c4.417 0 8 3.584 8 7.998V34h7.002C61.42 34 65 37.58 65 42c0 4.417-3.584 8-7.998 8H50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

#colophon h6 {
    padding: 20px;
    margin: 0;
    text-align: center;
    color: #A37408;
    font-size: .8rem;
    text-transform: uppercase;
    text-shadow: .8px 1px #000000;
}
