.container {
    margin: auto;
    padding: 5px 7px 5px 7px;
}

body {
    background-color: #e1d8cf;

}

#content h1 {
    border-bottom: 2.5px solid;
}

body ul a:hover {
    background-color: rgba(0, 0, 0, .4);
    padding: 1.5px 1.5px;
    transition: .5s;
}
